name: CI/CD Pipeline

on:
  push:
    branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ejecutar Pruebas Unitarias
        run: |
          pytest

  build-push-docker:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Login en Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir y Subir imagen Docker
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Aquí usa el secreto y el nombre de tu repo en Docker Hub
          tags: ${{ secrets.DOCKER_USERNAME }}/devops-practica-final:latest
